.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 90px;
    /*text-align: center;*/
   
  }

  
  div.img_background 
  {
    background-image: url('../img-about.jpg');
    background-size: cover;
  }
    

  
  .about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: lightslategray;
  }
  
  .about-section {
    margin-bottom: 40px;
  }
  
  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: blanchedalmond;
  }
  
  .about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: gray;
  }
  